<p>First Name: {{input value=firstName}}</p>
<p>Last Name: {{input value=lastName}}</p>
<p>Address1: {{input value=address1}}</p>
<p>Address2: {{input value=address2}}</p>
<p>City: {{input value=city}}</p>
<p>State: {{input value=state}}</p>
<p>Zip (5 or 9 digit): {{input value=zip}}</p>
<p>Country (US only): {{input value=country}}</p>

<button {{action 'register'}}>Register</button>
